.centered-image {
    margin: auto;
    width: 50%;
    height: auto;
    display: block;
}

.intro {
    border: 2px solid green;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    box-sizing: border-box;
}

.magnet {
    border: 2px solid green;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    box-sizing: border-box;
}

.sidebar {
    width: 50%;
    float: left;
    background-color: darkviolet;
    border: 2px solid green;
    padding: 10px;
    background-color: orange;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 15%;
    box-sizing: border-box;
}